@import './variables';
@import './splide';

.#{$id} {
  #shopify-section-cart {
    overflow-x: hidden;
  }

  #shopify-section-cart .container-fluid {
    display: flex;
    flex-direction: column;

    >form {
      order: 1;
    }

    .inc_af_block {
      order: 3;
    }

    >.row {
      order: 4;
    }
  }

  .#{$id}-root {
    order: 2;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 950px;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .#{$id}-container {
      border: 2px solid #f8f6f7;
    }

    .#{$id}-header {
      background: #846C9D;
      padding: 10px 20px;
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 20px;
      color: #fff;
      text-align: center;

      >form {
        .#{$id}-cta {
          display: none;
          pointer-events: none;

          @media screen and (min-width: 350px) {
            min-width: 253px;
          }

          &.visible {
            display: inline-block;
            pointer-events: all;
          }
        }
      }

      @media screen and (min-width: 720px) {
        padding: 15px 40px;
        grid-template-columns: 1fr;
        text-align: left;

        >form {
          align-self: center;
          justify-self: end;
        }
      }
    }

    .#{$id}-header-content {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 10px;
      font-size: 14px;
      font-weight: 400;
    }

    .#{$id}-header-title {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .#{$id}-product-card {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 10px;
      justify-items: center;
      background-color: #ffffff;
    }

    .#{$id}-product-card-image {
      position: relative;
      width: 75%;
      padding-bottom: 75%;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    .#{$id}-product-card-discount-label {
      position: absolute;
      left: -28px;
      display: block;
      padding: 6px;
      color: #fff;

      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      background-color: #702283;
      border-radius: 3px;

    }

    .#{$id}-product-card-prevprice {
      text-decoration: line-through;
      color: #5C4B61;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }

    .#{$id}-product-card-content {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 10px;
      width: 100%;
    }

    .#{$id}-product-card-title {
      color: #000000;
      text-decoration: none;
      height: 34px;

      &:hover {
        text-decoration: underline;
      }

      h5 {
        font-size: 14px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .#{$id}-product-card-price {
      font-size: 14px;
      font-weight: 600;
    }

    .#{$id}-cta {
      display: inline-block;
      border: 2px solid #000000;
      border-radius: 2px;
      padding: 12px 40px;
      background-color: #000000;
      color: #ffffff;
      font-family: inherit;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.4;
      text-align: center;
      cursor: pointer;
      transition: 0.25s ease;

      &.#{$id}-ghost {
        background-color: #000;
        color: #fff;
        width: 100%;

        &:hover {
          background-color: #fff;
          color: #000;
        }


        &.#{$id}__Added,
        &.#{$id}__Outofstock {
          background-color: #fff;
          color: #000;
          pointer-events: none;
        }

        &.#{$id}__Outofstock {
          border: none;
        }

      }

    }

    .#{$id}-splide {
      background-color: #ffffff;
      padding-top: 20px;
      padding-bottom: 20px;

      .splide__pagination {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        gap: 8px;
        padding-top: 20px;
      }

      .splide__pagination__page {
        display: inline-block;
        width: 6px;
        height: 6px;
        border: none;
        border-radius: 50%;
        background-color: #c4c4c4;
        transition: 0.25s ease;
        cursor: pointer;

        &.is-active {
          background-color: #000000;
          transform: scale(1.33);
        }
      }
    }
  }

  .#{$id}-loader,
  .#{$id}-loader::after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

  .#{$id}-loader {
    margin: 100px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.25rem solid #dcdcdc;
    border-right: 0.25rem solid #dcdcdc;
    border-bottom: 0.25rem solid #dcdcdc;
    border-left: 0.25rem solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
  }

  @-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}